#inventory-publish {
  margin-bottom: 50px;
  .navbar {
    .nav-pills {
      li {
        a {
          background-color: #fff !important;
          background-image: none !important;
          filter:none !important;
          border: 0;
          box-shadow: none !important;
          .number {
            background-color: #eee;
            display: inline-block;
            font-size: 16px;
            font-weight: 300;
            padding: 8px 15px !important;
            margin-right: 10px;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            border-radius: 50% !important;
            color: #777;
          }
          .desc {
            display: inline-block;
            font-size: 14px;
            color: #777;
          }
        }
      }
      li.active {
        a {
          .number {
            background-color: #35aa47;
            color: #fff;
          }
          .desc {
            color: #333;
          }
        }
      }
    }
  }
  .multiSelect .checkBoxContainer {
    height: 180px;
    overflow: scroll;
  }
  .help-info {
    font-size: 12px;
    color: #777;
  }
}
.select-item-box {
  padding: 10px 0;
  border: 1px solid #DDD;
  margin-top: 8px;
  width: 60%;
  overflow: scroll;
  max-height: 240px;
}
.help-tips {
  font-size: 13px;
  color: #ccc;
  padding-top: 5px;
  margin: 0;
}
