<!-- UI Router -->
<div id='ui-view-department-share' ui-view>
  <div id='department-share'>
    <div class='indicator-order'>
      <div class='pull-left'>
        <p class='font-18'>共享清单</p>
      </div>
      <div class='pull-right'>
        <ul class="nav nav-pills">
          <li role="presentation" class='indicator-total'>
            资源总数
            <span class='num'>{{resourceCount}}</span>
          </li>
          <li role="presentation">
            <input type="text" class='input-filter' placeholder="请输入查询信息资源名称" ng-model='DepartInfoResource.resource_name_filter'>
            <button type="button" class="btn btn-primary" ng-click='searchDeptInfoResourceByName()'>查询</button>
          </li>
        </ul>
      </div>
    </div>
    <div class='filter'>
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>分地区数据级别</li>
            <li role="presentation">
              <a href="javascript:;" ng-class="{true: 'active', false: 'inactive'}[areaMainSelection.length == 0]" href="javascript:;" ng-click='getSpatialAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='dataLevel in dataLevelList'>
              <a ng-class="{true: 'active', false: 'inactive'}[areaMainSelection.indexOf(dataLevel.id) > -1]" ng-checked="areaMainSelection.indexOf(dataLevel.id) > -1" ng-click='getInfoResourceListByAP(dataLevel)' href="javascript:;">{{dataLevel.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>信息资源格式</li>
            <li role="presentation">
              <a ng-class="{true: 'active', false: 'inactive'}[resFormatMainSelection.length == 0]" href="javascript:;" ng-click='getResFormatAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='resourceFormat in resourceFormatList'>
              <a ng-class="{true: 'active', false: 'inactive'}[resFormatMainSelection.indexOf(resourceFormat.id) > -1]" href="javascript:;" ng-click='getInfoResourceByResFormat(resourceFormat)'>{{resourceFormat.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>共享级别</li>
            <li role="presentation">
              <a ng-class="{true: 'active', false: 'inactive'}[shareLvMainSelection.length == 0]" href="javascript:;" ng-click='getShareLevelAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='shareLevel in shareLevelList'>
              <a ng-class="{true: 'active', false: 'inactive'}[shareLvMainSelection.indexOf(shareLevel.id) > -1]" href="javascript:;" ng-click='getInfoResourceListBySl(shareLevel)'>{{shareLevel.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>更新周期</li>
            <li role="presentation">
              <a href="javascript:;" ng-class="{true: 'active', false: 'inactive'}[shareFreqSelection.length == 0]" href="javascript:;" ng-click='getShareFreqAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='shareFreq in shareFrequencyList'>
              <a ng-class="{true: 'active', false: 'inactive'}[shareFreqSelection.indexOf(shareFreq.id) > -1]" ng-checked="shareFreqSelection.indexOf(shareFreq.id) > -1" ng-click='getInfoResourceListBySF(shareFreq)' href="javascript:;">{{shareFreq.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>是否涉密</li>
            <li role="presentation">
              <a href="javascript:;" ng-class="{true: 'active', false: 'inactive'}[secretFlagMainSelection.length == 0]" href="javascript:;" ng-click='getSecretFlagAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='secretFlag in secretFlagList'>
              <a ng-class="{true: 'active', false: 'inactive'}[secretFlagMainSelection.indexOf(secretFlag.id) > -1]" ng-checked="secretFlagMainSelection.indexOf(secretFlag.id) > -1" ng-click='getInfoResourceListBySecFlag(secretFlag)' href="javascript:;">{{secretFlag.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class='indicator-filter'>
        <nav class='pull-left'>
          <ul class="pager">
            <li class='filter-label'>面向社会开放</li>
            <li role="presentation">
              <a ng-class="{true: 'active', false: 'inactive'}[socialOpenMainSelection.length == 0]" href="javascript:;" ng-click='getSocialOpenAll()'>全部</a>
            </li>
            <li role="presentation" ng-repeat='socialOpen in socialOpenList'>
              <a ng-class="{true: 'active', false: 'inactive'}[socialOpenMainSelection.indexOf(socialOpen.dict_code) > -1]" href="javascript:;" ng-click='getInfoResourceListBySO(socialOpen)'>{{socialOpen.dict_name}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- indicator inventory list -->
    <div class='indicator-list'>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <ul class="nav nav-filter">
            <li role="presentation" class="active">
              <span>
                <i class='fa fa-eye'></i>&nbsp;全省开放</span>
            </li>
            <li role="presentation">
              <span>
                <i class='fa fa-desktop'></i>&nbsp;省政务云平台开放</span>
            </li>
            <li role="presentation">
              <span>
                <i class='fa fa-lock'></i>&nbsp;授权开放</span>
            </li>
            <li role="presentation">
              <span>
                <i class='fa fa-warning'></i>&nbsp;暂不开放</span>
            </li>
          </ul>
        </div>

        <div class='scroll' cg-busy="{promise:sharePromise,message:'加载中',backdrop:backdrop,delay:delay,minDuration:minDuration}">
          <div class=''>
              <div class=''>
                <!-- Table -->
                <table class='table table-hover table-striped table-bordered'>
                  <thead class='text-center'>
                    <tr>
                      <th width='40px' >标识</th>
                      <th width='40px' >序号</th>
                      <th width='90px' title='信息资源名称'>信息资源名称</th>
                      <th width='90px' title='信息资源摘要'>信息资源摘要</th>
                      <th width='90px' title='信息资源分类'>信息资源分类</th>
                      <th width='100px' title='分地区数据级别'>分地区数据级别</th>
                      <th width='90px' title='信息资源格式'>信息资源格式</th>
                      <th width='60px' title='共享级别'>共享级别</th>
                      <th width='100px' title='是否面向社会开放'>是否面向社会开放</th>
                      <th width='40px' ></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat='InfoResource in depShareList | orderBy:"create_time":true' >
                      <td class='text-center'>
                        <div ng-if='InfoResource.share_level_name =="全省开放" '>
                          <span>
                            <i class='fa fa-eye'></i>
                          </span>
                        </div>
                        <div ng-if='InfoResource.share_level_name =="省政务云平台开放" '>
                          <span>
                            <i class='fa fa-desktop'></i>
                          </span>
                        </div>
                        <div ng-if='InfoResource.share_level_name =="授权开放" '>
                          <span>
                            <i class='fa fa-lock'></i>
                          </span>
                        </div>
                        <div ng-if='InfoResource.share_level_name =="暂不开放" '>
                          <span>
                            <i class='fa fa-warning'></i>
                          </span>
                        </div>
                      </td>
                      <td class='orderBy'>{{::$index+(Paging.currentPage-1)*Paging.itemsPerPage+1}}</td>
                      <td title='{{InfoResource.resource_name}}'>
                        <a ui-sref='main.department.share.detail({item:InfoResource.id})'>
                          <pre>{{InfoResource.resource_name}}</pre>
                        </a>
                      </td>
                      <td title='{{InfoResource.summary}}'>{{InfoResource.summary}}</td>
                      <td title='{{InfoResource.category_name}}'>{{InfoResource.category_name}}</td>
                      <td title='{{InfoResource.area_level}}'>{{InfoResource.area_level}}</td>
                      <td title='{{InfoResource.resource_format_name}}'>{{InfoResource.resource_format_name}}</td>
                      <td title='{{InfoResource.share_level_name}}'>{{InfoResource.share_level_name}}</td>
                      <td title='{{InfoResource.social_open_flag_name}}'>{{InfoResource.social_open_flag_name}}</td>
                      <td title=''>
                        <a ui-sref='main.department.detail({item:InfoResource.id})'>
                          <pre>更多...</pre>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
          </div>
        </div>

        <div class='pull-right'>
          <uib-pagination boundary-links='true' ng-change='Paging.pageChanged()' total-items='Paging.totalItems' items-per-page='Paging.itemsPerPage' ng-model='Paging.currentPage' max-size='Paging.maxSize' class='pagination' boundary-link-numbers='true' rotate='false' first-text='首页' last-text='末页' next-text='下一页' previous-text='上一页'></uib-pagination>
        </div>

      </div>
    </div>
  </div>
</div>
