#dep-resource {
  .row {
    height: 450px;
  }
  .table-patch {
    td, th{
      width: 20px;
      word-break: keep-all;
      word-wrap: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      vertical-align: middle;
    }
    th {
        text-align: center;
    }
    td {
        text-align: left;
    }
    .numberAndDateStyle {
      text-align: right;
    }
    .orderBy{
      text-align: center;;
    }
  }
  table.table.table-striped.table-hover.table-bordered.table-patch {
    width: 750px;
    margin-left: 100px;
  }
}
