<div id='main-unlogin'>
  <nav class='navbar navbar-default navbar-patch'>
    <div class='container'>
      <a class='logo pull-left'></a>
      <!--login button-->
      <div class="btn-group pull-right btn-login">
        <a class="btn btn-default" ui-sref="login">
          <i class="far far-user"></i>登录</a>
      </div>
    </div>
  </nav>

  <div id='data-quota-main-unlogin' class="container">
    <div class="row" wiserv-main-wrapper-Unlogin="" >
      <div class="left col-md-1 buttonType">
        <div class="btn-group btn-group-md">
          <button type="button" class="btn btn-primary active toggler" ng-click="treeChangeType(1)">机<br>构<br>类<br>型</button>
          <button type="button" class="btn btn-success active toggler" ng-click="treeChangeType(2)">机<br>构<br></button>
          <button type="button" class="btn btn-warning active toggler" ng-click="treeChangeType(3)">区<br>域</button>
          <button type="button" class="btn btn-danger  active toggler" ng-click="treeChangeType(4)">主<br>题</button>
        </div>
      </div>
      <div class="left col-md-2 sidebar1">
        <div class="panel panel-default">
          <div class='panel-heading' ui-sref="welcome({type: flag, titleName: filterName })" ui-sref-opts="{reload:true}">
                <i class="fa fa-refresh">{{filterName}}</i>
          </div>

          <div class='input-group input-group-sm searchname'>
            <input ng-model="predicate" type='text' placeholder='请输入部门短名称...' class='form-control'>
            <span class='input-group-addon'>
              <span class='glyphicon glyphicon-search'></span>
            </span>
          </div>

          <div ng-if="flag==1" class='menu' ui-tree data-drag-enabled="false">
            <treecontrol class="tree-classic"
            tree-model="list"
            filter-expression="predicate"
            filter-comparator="comparator"
            options="treeOptions"
            on-selection="showSelected(node)"
            selected-node="node1">
            <span ng-click="WelcomeDep(node.id, node.dep_name)">{{node.dep_short_name}}</span>
            </treecontrol>
          </div>
          <div ng-if="flag==2" class='menu' ui-tree data-drag-enabled="false">
            <treecontrol class="tree-classic"
            tree-model="OcupationList"
            filter-expression="predicate"
            filter-comparator="comparator"
            options="treeOptions"
            on-selection="showSelected(node)"
            selected-node="node1">
            <span ng-click="WelcomeDep(node.id, node.dep_name)">{{node.dep_short_name}}</span>
            </treecontrol>
          </div>
          <div ng-if="flag==3" class='menu' ui-tree data-drag-enabled="false">
            <treecontrol class="tree-classic"
            tree-model="areaList"
            filter-expression="predicate"
            filter-comparator="comparator"
            options="treeOptions"
            on-selection="showSelected(node)"
            selected-node="node1">
            <span ng-click="WelcomeDep(node.id, node.dep_name)">{{node.dep_short_name}}</span>
            </treecontrol>
          </div>
          <div ng-if="flag==4" class='menu' ui-tree data-drag-enabled="false">
            <treecontrol class="tree-classic"
            tree-model="themeList"
            filter-expression="predicate"
            filter-comparator="comparator"
            options="treeOptions"
            on-selection="showSelected(node)"
            selected-node="node1">
            <span ng-click="WelcomeDep(node.id, node.dep_name)">{{node.dep_short_name}}</span>
            </treecontrol>
          </div>
        </div>
      </div>
      <div class="right col-md-9 content">
        <div id='data-quota-list-unlogin'>
          <div class="panel panel-default pannel-patch">
            <div class="panel-heading">
              <i ng-if="currentDep===undefine" class="fa fa-paperclip"> 条件过滤</i>
              <i ng-if="currentDep!==undefine" class="fa fa-paperclip"> {{currentDep}}</i>
              <div class="input-group col-xs-3 pull-right input-patch">
                <input ng-model='TargetDataQuotaName' type="text" class="form-control searchTree" placeholder="请输入查询指标名称...">
                <span class="input-group-btn">
                  <button ng-click='Retrieval()' class="btn btn-default" type="button">查询</button>
                </span>
              </div>

            </div>
            <div class="panel-body">
            <div class='filter'>

              <!-- 分地区数据级别 -->
              <div class='indicator-filter'>
                <nav class='pull-left'>
                  <ul class="pager ">
                    <li class="text-muted filter-label">分地区数据级别</li>
                    <li ng-click="DataLevelFilter('ALL')">
                      <a ng-class='DataLevelActiveAll'>全部</a>
                    </li>
                    <li ng-repeat='dataLevel in DataLevels' ng-click='DataLevelFilter(dataLevel.id, $index)'>
                      <a ng-class='DataLevelActive[$index]'>{{dataLevel.dict_name}}</a>
                    </li>
                </ul>
              </nav>
              </div>

              <!-- 信息资源格式 -->
              <div class='indicator-filter'>
                <nav class='pull-left'>
                  <ul class="pager">
                    <li class="text-muted filter-label">信息资源格式</li>
                    <li ng-click="resourceFormatFilter('ALL')">
                      <a ng-class='resourceFormatActiveAll'>全部</a>
                    </li>
                    <li ng-repeat='resourceFormat in resourceFormats' ng-click='resourceFormatFilter(resourceFormat.id, $index)'>
                      <a ng-class='resourceFormatActive[$index]'>{{resourceFormat.dict_name}}</a>
                    </li>
                  </ul>
              </nav>
              </div>

              <!-- 共享级别 -->
              <div class='indicator-filter'>
                <nav class='pull-left'>
                  <ul class="pager">
                    <li class="text-muted filter-label">共享级别</li>
                    <li ng-click="ShareLevelFilter('ALL')">
                      <a ng-class='ShareLevelActiveAll'>全部</a>
                    </li>
                    <li ng-repeat='shareLevel in ShareLevels' ng-click='ShareLevelFilter(shareLevel.id, $index)'>
                      <a ng-class='ShareLevelActive[$index]'>{{shareLevel.dict_name}}</a>
                    </li>
                  </ul>
              </nav>
              </div>


              <!-- 面向社会开放 -->
              <div class='indicator-filter'>
                <nav class='pull-left'>
                  <ul class="pager dataLevelStyle">
                    <li class="text-muted filter-label">面向社会开放</li>
                    <li ng-click="openToSocietyFilter('ALL')">
                      <a ng-class='openToSocietyActiveAll'>全部</a>
                    </li>
                    <li ng-repeat='openToSociety in openToSocietys' ng-click='openToSocietyFilter(openToSociety.dict_code,  $index)'>
                      <a ng-class='openToSocietyActive[$index]'>{{openToSociety.dict_name}}</a>
                    </li>
                  </ul>
              </nav>
              </div>

           </div>
          </div>
         </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-table"> 资源列表</i>
              <span class='icon-list'>
                <i class='fa fa-eye'></i> 全省开放
                <i class='fa fa-desktop blue'></i> 政务云开放
                <i class='fa fa-lock blue'></i> 授权开放
                <i class='fa fa-warning orange'></i> 暂不开放
              </span>
              <span class='pull-right text-info'>共{{DataQuotasTotal}}条</span>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
              <!-- <div class='container'>
                <div class='row'>
                  <div class='col-md-10 table-width' > -->
                    <table class='table table-hover table-striped table-bordered table-patch'>
                      <thead class='text-center'>
                        <tr>
                          <th width="20px">标识</th>
                          <th width="20px">序号</th>
                          <th width="40px">信息资源名称</th>
                          <th width="40px">信息资源摘要</th>
                          <th width="40px">信息资源分类</th>
                          <th width="45px">分地区数据级别</th>
                          <th width="40px">信息资源格式</th>
                          <th width="30px">共享级别</th>
                          <th width="40px" title="是否面向社会开放">是否面向社会开放</th>
                          <th width="20px"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat='quota in DataQuotas'>
                          <td class="orderStyle" title="{{quota.share_level_name}}">
                            <div ng-if='quota.share_level_name =="全省开放"'>
                              <span>
                                <i class='fa fa-eye'></i>
                              </span>
                            </div>
                            <div ng-if='quota.share_level_name =="省政务云平台开放" '>
                              <span>
                                <i class='fa fa-desktop blue'></i>
                              </span>
                            </div>
                            <div ng-if='quota.share_level_name =="授权开放" '>
                              <span>
                                <i class='fa fa-lock blue'></i>
                                <a ng-if="quota.showbutton==='-1'" class='btn btn-default btn-xs' ng-click='DataQuotaApplyInfo(quota.id)'>申请查看</a>
                                <a ng-if="quota.showbutton==='0'" title='申请中，等待审核'><i class='fa fa-clock-o text-info'></i></a>
                                <a ng-if="quota.showbutton==='1'" title='申请已通过'><i class='fa fa-check-square-o text-success'></i></a>
                                <a ng-if="quota.showbutton==='2'" title='申请未通过'><i class='fa fa-ban text-warning'></i></a>
                              </span>
                            </div>
                            <div ng-if='quota.share_level_name =="暂不开放" '>
                              <span>
                                <i class='fa fa-warning orange'>
                                </i>
                              </span>
                            </div>
                          </td>
                          <td class='orderStyle'>{{::$index+(Paging.currentPage-1)*10+1}}</td>
                          <td title='{{quota.resource_name}}'>
                            <a ui-sref='login'>{{quota.resource_name}}</a>
                            <a ng-hide="true" ng-if="(quota.showbutton !='1')&&(quota.showbutton !='-2')">{{quota.resource_name}}</a>
                          </td>
                          <td title='{{quota.summary}}'>{{quota.summary}}</td>
                          <td title='{{quota.category_name}}'>{{quota.category_name}}</td>
                          <td title='{{quota.area_level}}'>{{quota.area_level}}</td>
                          <td title='{{quota.resource_format_name}}' >{{quota.resource_format_name}}</td>
                          <td title='{{quota.share_level_name}}'>{{quota.share_level_name}}</td>
                          <td title="{{quota.social_open_flag_name}}">{{quota.social_open_flag_name}}</td>
                          <td title="更多..."> <a ui-sref='login'>更多...</a></td>
                        </tr>
                      </tbody>
                    </table>
                  <!-- </div>
                </div>
              </div> -->
              </div>
            </div>

            <uib-pagination class='pull-right' total-items='Paging.totalItems' ng-model='Paging.currentPage' ng-change='Paging.pageChanged()' items-per-page='Paging.itemsPerPage'  next-text='下一页' previous-text='上一页'></uib-pagination>

          </div>

        </div>

      </div>
    </div>
  </div>

</div>
